a{
    text-decoration: none;
}

body{
    font-family: 'Comfortaa',cursive;
}

#close-nav{
    font-size: 2.5em;
    position: absolute;
    color: black;
    display: none;
    left: -30px;
    cursor: pointer;
}
#container{
    height:700px;
    width: 100%;
    color:black;
}

#card1,#card2,#card3,#card4{
    width:50% !important;
    margin: 0 auto;
}
.ui.two.column.grid{
    position: relative;
    z-index:-1000;
    background-color: burlywood;
    height: auto;
    margin:0 !important;
}
#column1,#column2,#column3,#column4{
    text-align: center;
}
.row{
    margin-top:5%;
    margin-bottom: 5%;
}

.header #background{
    background-color:yellow;
    display:none;
    z-index:10000;
}
#map{
    height: 600px;
    width:65%;
    float:left;
    position: relative;
    margin-left:0.5%;
    border:2px solid grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.map-wrapper{
    position: relative;
    width: 100%;
    height: 600px;
}
.map-sidebar{
    width:34%;
    margin-right: 0.5%;
    height:600px;
    position: relative;
    float:right;
    border:2px solid grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.story{
    font-family: 'Comfortaa',cursive;
    color: black;
}
.story:hover{
    color:black;
}
/* .footer{
    width:100%;
    height: 400px;
    background-image: url("footer-background.jpg");
}
.footer-container{
    margin-right: 25px;
    margin-left: 25px;
    height: 90%;
    padding-top:50px;
    
}
.footer-right{
    padding:15px;
    width: auto;
    height: 100%;
    float:left;
}
#bottom-logo{
    margin-top:-20px;
}
#emailicon{
    font-size: 2.4em;
    margin-right: 10px;
    float:left;
}
.e-mail-wrapper{
    width:auto;
    height:2.5em;
    margin-left:17%;
    margin-top:7%;
}
#emailcontent{
    font-size:2.4em;
    padding-right:5px;
    padding: 15px;
    padding-bottom:5px;
    padding-left:60px;
    color:white;
    line-height:0 !important;
}
.phone-wrapper{
    width:auto;
    height:2.5em;
    margin-top:7%;
    margin-left: 17%
}
#phoneicon{
    font-size:2.7em;
    float:left;
    line-height: 0 !important;
}
#phonecontent{
    font-size:2.0em;
    padding-bottom:5px;
    padding-right:5px;
    padding-left:60px;
    color:white;
    line-height: 0px;
}
#first-vertical-line{
    height:inherit;
    width:2px;
    background-color:whitesmoke;
    float:left;
}
.footer-middle{
    padding:15px;
    width: 33%;
    height: 100%;
    float:left;
}
h2{
    font-size:2.0em;
}
#second-vertical-line{
    height:inherit;
    width:2px;
    background-color:whitesmoke;
    margin-left:80%;
}
#footer-bottom-list{
    font-size:1.8em;
    line-height: 1.8em;
    list-style-type: none;
}
.footer-white{
    color:white;
}
.footer-left{
    width:33%;
    height:100%;
    padding:15px;
    background-color:red;
} */