html,
body {
    margin: 0;
    height: 100%
}

.grid-container * {
    border: 1px solid #ccc;
    grid-gap: 1em;
}

.grid-container div:after {
    content: attr(class);
    color: #888;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: arial;
}

.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 'box1 box1 box1 box2 box3 box3 box3' 
                         'box1 box1 box1 box2 box3 box3 box3' 
                         'box1 box1 box1 box2 box3 box3 box3' 
                          'box1 box1 box1 box2 box3 box3 box3' 
                          'box1 box1 box1 box2 box3 box3 box3' 
                          'box1 box1 box1 box2 box3 box3 box3' 
                          'box1 box1 box1 box2 box3 box3 box3' 
                          'box1 box1 box1 box2 box7 box7 box7' 
                          'box4 box5 box6 box6 box7 box7 box7' 
                          'box4 box5 box6 box6 box7 box7 box7' 
                          'box4 box5 box6 box6 box7 box7 box7' 
                          'box4 box5 box6 box6 box7 box7 box7' 
                          'box4 box5 box6 box6 box7 box7 box7';
}
.video-wrapper{
    height:700px;
    width: 100%;
}
.box1 {
    grid-area: box1;
    background-color: red;
}

.box2 {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
}

.box4 {
    grid-area: box4;
}

.box5 {
    grid-area: box5;
}

.box6 {
    grid-area: box6;
}

.box7 {
    grid-area: box7;
}

.footer{
    width: 100%;
    height:400px;
    background-image:url("footer-background.jpg");
}
.grid-container-footer {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "paddintop paddintop paddintop paddintop paddintop paddintop paddintop paddintop"
                         "paddingleft bottom-logo bottom-logo menu menu social social paddingright" 
                         "paddingleft bottom-logo bottom-logo menu menu social social paddingright" 
                         "paddingleft bottom-logo bottom-logo home home social social paddingright" 
                         "paddingleft bottom-logo bottom-logo content content social social paddingright" 
                         "paddingleft bottom-logo bottom-logo product product social social paddingright" 
                         "paddingleft email email team team social social paddingright" 
                         "paddingleft phone phone contanctus contanctus . . paddingright" 
                         "paddingleft . . . . . . paddingright" 
                         "paddingleft . . . . . . paddingright" 
                         "paddingbottom paddingbottom paddingbottom paddingbottom paddingbottom paddingbottom paddingbottom paddingbottom";
  }
  
  #logobot{
      width:100%;
      height:auto;
  }
  #emailicon{
      float:left;
      font-size :2.6vw;
    
      /* padding-top:5.0vh; */
    }
#emailcontent{
    font-size:2.2vw;
    padding-left:4.5vw;
    color:white;
    line-height: 0px !important;
    /* padding-top: 3.5vh; */
}
#phoneicon{
    font-size:2.8vw;
    padding-top:5vh;
    padding-left:0.2vw;
    float:left;
    line-height: 0px;
}
#phonecontent{
    font-size:2.0vw;
    padding-left:4.5vw;
    padding-top:4.5vh;
    color:white;
    line-height: 0px;
}
  .paddingleft {
    grid-area: paddingleft;
  }
  
  .bottom-logo {
    grid-area: bottom-logo;
  }
  
  .email {
    grid-area: email;
  }
  
  .phone {
    grid-area: phone;
  }
  
  .menu {
    grid-area: menu;
    line-height:0px !important;
    padding-left:6vw;
  }
  
  .paddintop {
    grid-area: paddintop;
    
  }
  
  .paddingbottom {
    grid-area: paddingbottom;
  }
  
  .home {
    grid-area: home;
    
  }
  
  .content {
    grid-area: content;
  }
  
  .product {
    grid-area: product;
  }
  
  .team {
    grid-area: team;
  }
  
  .contanctus {
    grid-area: contanctus;
  }
  
  .paddingright {
    grid-area: paddingright;
  }
  
  .social {
    grid-area: social;
  }
  .home,.content,.product,.team,.contanctus{
    line-height:0px !important;
    color:white;
    padding-left:6vw;
    font-size:1.6vw;
  }
  #footer-list{
      list-style-type: none;
      line-height:7.5vh;
      font-size:2.5vw;
      line-height: 3.5vw;
  }