.gridder {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    margin-top:10px
}

.gridder-list {
    display: inline-block;
    vertical-align: top;
    padding:10px;
    width: 30%
}

.gridder-show {
    display: block;
    float: left;
    width: 100%;
    padding: 20px;
    position: relative;
    cursor: pointer;
}

.vid{
    text-align: center;
    background-color: grey;
}

.gridder-content {
    display: none
}

.gridder-list:hover {
    opacity: 0.8
}
.placeimg{
    width: 100%;
}
#lione{
    margin-left: 5%;
}
#video-wrapper{
    position:relative;
    height:auto;
    width:100%;
    background: linear-gradient(to right, #007991,#78ffd6);
}
@media (max-width:420px){
    .gridder,.gridder-list,.gridder-show{
        width:100vw !important;
        height:auto;
        display:block;
        position:static !important;
        top:0;
        padding:0;
        margin-left: 0;
        left:0;
    }
    #lione{
        margin-left: 0;
    }
    video{
        width:100vw;
    }
    .vid{
        width: 100vw !important;
    }
}
